<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../component/header.ejs %>
</head>
<body>

  <% include ../component/nav-top.ejs %>

<div class="container">
   <form onSubmit="return test();" method="get" id="data">
     <!-- <div id="img_container "> -->
     <div class="form-group">
       <image  id="demo" class="img-rounded center-block" name="picture" width="250" height="250" src= <%= shemadata.urlimg %>>
       <button type="button" class="center-block btn" id="myBtn"> Edit image </button>
       <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <label>URL image :</label>
            <input  class = "form-control" name="image" id = "image" value = <%= shemadata.urlimg %>>
            <button type="button" class="center-block btn" id="save">Save</button>
          </div>
        </div>
     </div>
    <!-- </div> -->
    <input type="hidden" name="user" value=<%= shemaUser.company%>>
     <div class="form-group">
       <label>เส้นทาง :</label>
       <input type="text" class="form-control" id="route"name="route" value=<%= shemadata.route %>  >
     </div>
     <div class="form-group">
       <label>ระยะทาง :</label>
       <input type="text" class="form-control" id="distance" name="distance"  value = <%= shemadata.distance %> >
     </div>
     <div class="form-group">
       <label>ราคา (บาท) :</label>
       <input type="text" class="form-control" id="cost" name="cost" value = <%= shemadata.cost %> >
     </div>
     <div class="form-group">
       <label >ตำแหน่ง GPS :</label>
       <input type="text" class="form-control" id="GPS" name="GPS"  width="250px" value=<%= shemadata.gps %>>
     </div>
     <label>ช่วงเวลาทำการ</label>
     <br></br>
      <div class="form-group">
         <label>ตั้งแต่ :</label>
          <select class="selectpicker" name="start">
            <option><%= shemadata["time"][0] %></option>
            <% include ../component/option.ejs%>
          </select><b> น.</b>
          <label>จนถึง :</label>
           <select class="selectpicker" name="end">
             <option><%= shemadata["time"][1] %></option>
             <% include ../component/option.ejs%>
           </select><b> น.</b>
           <label>รอบการออกรถ :</label><b> ทุก</b>
            <select class="selectpicker"  name="round">
              <option><%= shemadata["time"][2] %></option>
              <option>30</option>
              <option>60</option>
            </select><b> นาที</b>
      </div>
      <div class="form-group">

      </div>
     <button type="submit" class="btn btn-primary btn-lg" onclick="myFunction();">Save</button>
     <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href='/profile'">Cancle</button>
   </form>
</div>
<script>
 // $('#timepicker1').timepicker();
  var modal = document.getElementById('myModal');
  var btn = document.getElementById("myBtn");
  var save = document.getElementById("save");

  var span = document.getElementsByClassName("close")[0];
  btn.onclick = function() {
      modal.style.display = "block";
  }
  span.onclick = function() {
      modal.style.display = "none";
  }
  save.onclick = function() {
      var img = document.getElementById("image").value;
      document.getElementById("demo").src = img;
      modal.style.display = "none";
  }
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  function changeaction() {
    document.getElementById('data').action = window.location.pathname+"/save"
  }
  permiss();
  function permiss(){
    if(window.location.pathname=="/profile/edit"){
      document.getElementById('route').readOnly = true;
    }
    else{
        document.getElementById('route').readOnly = false;
    }
  }
  function test(){
    if (document.getElementById('route').value == "" || document.getElementById('distance').value == "" || document.getElementById('GPS').value == "" || document.getElementById('cost').value == ""){
    alert("Please insert data")
    return false;
    }
    else{
      return changeaction();

    }
  }
</script>
</body>
</html>
