<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../component/header.ejs %>
</head>
<body>

<% include ../component/nav-top.ejs %>

<div class="container">
	<div class="row">
		<!-- <h4>So I've worked on a new project and came up with this UI. Here you can use it. :) Follow me on twitter: <a href="https://twitter.com/AlexMahrt/">@AlexMahrt</a></h4> -->
	</div>
  <div class="row row-margin-bottom">

    <% for(var i=0; i<total.length; i++) {%>


            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src=<%= total[i].urlimg%> style="width:25rem;height:25rem;" >
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                               บริษัท : <%= total[i].name %>
                            <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                E-mail : <%= total[i].id %>
                                <br>
                                เบอร์โทรศัพท์ : <%= total[i].phone %>
                                <br>
                                <br>
                               
                            </div>

                            <div class="lib-row lib-header">
                             <!-- <button type="button" class="btn btn-success" onclick=window.location.href='/viewprofile/edit?key=<%=i%>'>Edit</button> -->
                              <button type="button" class="btn btn-danger" onclick="ConfirmDelete(<%=i%>)" >Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if(i%2 == 0) {%>
              <div class="col-md-1"></div>
              <div class="col-md-1"></div>
            <% } %>

        <% } %>
         
</div>
<script type="text/javascript">
    function ConfirmDelete(i){
    if (confirm("Delete route?")){
        window.location.href='/viewprofile/delete?key='+i
        return true;
    }
    else {
      //  alert('sorry');
       return false;
    }
}
</script>
</body>

</html>
